@import url('https://fonts.googleapis.com/css?family=Montserrat|Nunito');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-logo {
    position: absolute;
    left: 150px;
    top: 10px;
}

.welcome{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    font-size: 55px;
    color: #6C36D2;
    font-weight: 900;
    margin-top: 350px;
    text-align: center;
    width: 100%;
    opacity: 0;
    animation: welcome 2s 1;
}

header div {
    display: inline-block;
    text-align: center;
}

header .header-kiri div {
    display: block;
    margin-left: 100px;
    z-index: 1;
}

.title {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 55px;
    letter-spacing: 0px;
    animation: text 2s 1;
/*    animation-delay: 2.1s;*/
    margin-top: 35%;
    color: #6C36D2;
    font-weight: 900;
    opacity: 1.0;
}

.description {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    animation: text 2s 1;
    text-align: justify;
    margin-top: 2px;
    color: #464646;
    width: 550px;
    opacity: 1.0;
/*    animation-delay: 2.1s;*/
    
}

.header-kanan {
    position: absolute;
    margin-top: 10%;
    right: 100px;
    z-index: 0.9;
}

.header-kanan img {
    animation: text 2s 1;
/*    animation-delay: 2.1s;*/
    opacity: 1.0;
}

.lomba div {
    display: block;
}

.card div {
    display: inline-block;
}

.card-lomba div {
    display: block;
}

.lomba {
    margin-top: 150px;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.lomba-title {
    font-size: 30px;
    /*    border-bottom: 6px solid #C391F6;*/
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: black;
}

.lomba-title:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 15%;
    padding-top: 5px;
    border-bottom: 4px solid #C391F6;
}

.card {
    margin-top: 80px;
    text-align: center;
}

.card-lomba {
    width: 220px;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 100px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px -2px #000000;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-duration: 0.3s;
    -moz-transition-property: all;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-duration: 0.3s;
    -o-transition-property: all;
    -o-transition-timing-function: ease-in-out;

}

.card-lomba:hover {
    box-shadow: 0px 0px 10px -2px #6C36D2;
    background-color: #EDFFFF;
}

.card-name {
    font-size: 20px;
    width: 100%;
    font-weight: 800;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card-img {
    text-align: center;
}

.button a {
    text-decoration: none;
    color: #373435;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-duration: 0.3s;
    -moz-transition-property: all;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-duration: 0.3s;
    -o-transition-property: all;
    -o-transition-timing-function: ease-in-out;
    font-size: 20px;
}

.button a:hover {
    color: #6C36D2;
}

.card-gallery img{
/*    width: 200px;*/
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 80px;
    transition: 0.3s;
    filter: brightness(75%);
}

.card-gallery img:hover{
    filter: brightness(100%);
    transform: scale(1.2);
}

.card-gallery div{
    display: inline-block;
}

.gallery{
    margin-top: 100px;
    text-align: center;
}

.gallery-text{
    font-size: 30px;
    /*    border-bottom: 6px solid #C391F6;*/
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: black;
    margin-top: -250px;
}

.gallery-text:after{
    content: "";
    display: block;
    margin: 0 auto;
    width: 15%;
    padding-top: 5px;
    border-bottom: 4px solid #C391F6;
}

footer{
    background-image: url(/image/bg-footer.png);
    text-align: center;
    margin-top: 150px;
    background-size: cover;
    height: 500px;
    font-family: 'Nunito', sans-serif;
}

footer .copyright{
    padding-top: 50px;    
    font-size: 15px;
    bottom: 0;
    color: #F9FBFC;
}

.social-media a{
    margin-top: 200px;
    color: #F9FBFC;
    text-decoration: none;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

.organized-text{
    color: #F9FBFC;
    padding-top: 30px;
    padding-bottom: 15px;
    font-family: 'Nunito', sans-serif;
}

.organized div{
    display: block;
}

.organized-logo img{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

@keyframes text {
    0% {
        opacity: 0;
    }
    80%{
        opacity: 0.1;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes welcome{
    0% {
        opacity: 0;
    }
    
    50% {
        opacity: 1.0;
    }
    
    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 1367px){
    .header-kanan img{
        width: 550px;
        padding-top: 170px;
    }
}

@media screen and (max-width: 1361px){
    .header-kanan img{
        padding-top: 20px;
    }
}

@media screen and (max-width: 1302px){
    .header-kanan img{
        width: 500px;
        padding-top: 80px;
    }
}

@media screen and (max-width: 1251px){
    .header-kanan img{
        width: 450px;
        padding-top: 80px;
    }
}

@media screen and (max-width: 1281px){
    .header-kanan img{
        width: 480px;
        padding-top: 60px;
    }
}

@media screen and (max-width: 1198px){
    .header-kanan img{
        width: 400px;
        padding-top: 120px;
    }
}

@media screen and (max-width: 1151px){
    .header-kanan img{
        width: 400px;
        padding-top: 120px;
    }
    
    .description{
        width: 500px;
    }
    .title{
        padding-top: 20px;
    }
}

@media screen and (max-width: 1102px){
    .header-kanan img{
        width: 380px;
        padding-top: 120px;
    }
    
    .description{
        width: 480px;   
    }
    
    .title{
        padding-top: 25px;
    }
}
    
@media screen and (max-width: 1062px){
    .header-kanan img{
        width: 340px;
        padding-top: 140px;
    }
    
    .description{
        width: 460px;   
    }
    
    .title{
        padding-top: 25px;
    }
}

@media screen and (max-width: 1025px){
    .description{
        width: 420px;
    }
}

@media screen and (max-width: 801px){
    .header-kiri div{
        display: inline-block;
    }
    
    .header-kiri .title{
        font-size: 30px;
    }
    
    .description{
        font-size: 15px;
        width: 300px;
    }
    .header-kanan img{
        width: 250px;
        margin-top: -40px;
    }
}