@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Nunito');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand{
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.navbar-brand:hover{
    transform: scale(1.2);
}

 .nav-link{
    color: white !important;
    font-size: 13pt;
    font-family: 'Montserrat';
    font-weight: 900;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover{
    transform: scale(1.2);
    color: #6C36D2;
}

.nav-link a:hover{
    color: #6C36D2;
}

.btn-primary2{
    border: none !important;
    background-color: transparent !important;
    padding: .5rem .1rem !important;
    padding-right: .5rem !important;
    padding-left: .5rem !important;
    font-size: 13pt;
    font-family: 'Montserrat';
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    vertical-align: middle;
}

.btn2{
    font-size: 13pt !important;
    font-weight: 700 !important;
    font-family: 'Montserrat' !important;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.bg-lomba::after {
    content: " ";
    position: fixed;
    z-index: -1;
    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;
    background-image: url(/../image/bg-lomba.png);
}

.card{
    text-align: center;
    border-radius: 35px;
    margin-top: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    animation: ani 1.5s 1;
    padding-right: 40px;
}

.card-kompetisi {
    width: 70%;
    text-align: center;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 35px;
    background-color: #F9FBFC;
}

.card-kompetisi div {
    display: block;
}

.card-name {
    width: auto;
}

.nama-kompetisi {
    text-align: center;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    padding-top: 10px;
}

.card-header{
    background-color: white !important;
}

.desc-kompetisi {
    width: 100%;
    position: relative;
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Nunito', sans-serif;
    padding-top: 10px;
}

.desc2-kompetisi div {
    display: inline-table;
}

.desc2-kompetisi {
    text-align: left;
}

.prize div {
    display: block;
}

.prize {
    text-align: left;
    width: 50%;
}

.title-prize {
    text-align: left;
    margin-top: 15px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #6C36D2;
    font-weight: 900;
}

.desc-prize {
    text-align: left;
    font-family: 'Nunito', sans-serif;
    width: 100%;
}

.contact-person div {
    display: block;
    text-align: left;
}

.contact-person {
    position: relative;
    width: 40%;
    margin-left: 9%;
}

.title-contact {
    text-align: left;
    margin-top: 15px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #6C36D2;
    font-weight: 900;
}

.desc-contact {
    text-align: left;
    font-family: 'Nunito', sans-serif;
}

.guide-book {
    margin-top: 50px;
    font-family: 'Nunito', sans-serif;
}

.download-book a {
    text-decoration: none;
    color: black;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-duration: 0.3s;
    -moz-transition-property: all;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-duration: 0.3s;
    -o-transition-property: all;
    -o-transition-timing-function: ease-in-out;
}

.btn.btn-primary {
    border-radius: 30px;
    width: 150px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12pt;
    border: none;
    color: white;
    text-align: center;
    background-image: linear-gradient(135deg, #73A3F8, #63E4FE);
    letter-spacing: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    line-height: 30px;
    justify-content: center;
    margin-bottom: 15px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.btn.btn-primary:hover {
    opacity: 0.8;
    color: white;
}

.download-book a:hover {
    color: #6C36D2;
    color: white;
}

@keyframes ani {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.01;
    }

    100% {
        opacity: 1.0;
    }
}

@media screen and (max-width: 768px) {
    .navbar-light .navbar-nav .nav-link:hover {
        transform: scale(1);
        color: #6C36D2;
    }

    .navbar-light .navbar-nav .nav-link:focus {
        color: white;
    }
    
    .btn-primary2{
        padding-left: 0 !important;
    }
}

@media screen and (max-width: 448px){
    .desc2-kompetisi{
        text-align: center;
    }
    
    .contact-person{
        margin-left: 0;
    }
    
    .prize, .contact-person{
        width: auto;
    }
    
    .desc-contact{
        text-align: center;
    }
    
    .contact-person div{
        text-align: center;
    }
    
    .prize, .title-prize{
        text-align: center;
    }
    
    td, th{
        text-align: center;
    }
}