@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-viewmemb::after {
    background-image: url(/../image/bg-login.png);
    content: " ";
    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;
    position: fixed;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar-brand {
    transition: all 0.3s ease-in-out;
}

.navbar-brand:hover {
    transform: scale(1.2);
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 13pt;
    font-family: 'Montserrat';
    font-weight: 900;
    transition: all 0.3s ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover {
    transform: scale(1.2);
    color: #6C36D2;
}

.navbar-laravel {
    background-image: linear-gradient(130deg, #62E7FE, #7D7BF4);
}

.btn-primary2 {
    border: none !important;
    background-color: transparent !important;
    padding: .5rem .1rem !important;
    padding-right: .5rem !important;
    padding-left: .5rem !important;
    font-size: 13pt;
    font-family: 'Montserrat';
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    vertical-align: middle;
}

.btn2 {
    font-size: 13pt !important;
    font-weight: 700 !important;
    font-family: 'Montserrat' !important;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.card {
    text-align: center;
    animation: ani 1.5s 1;
    border-radius: 30px;
    margin-top: 60px;
    border: transparent;
    box-shadow: 9px 3px 36px -9px rgba(0, 0, 0, 0.42);
    padding: 15px;
}

.foreach div {
    display: inline-block;
}

.card-member div {
    display: block;
}

.card-member {
    margin-left: 40px;
    margin-right: 40px;
    text-align: left;
    margin-top: 10px;
}

.card-header {
    font-family: 'Montserrat';
    font-size: 30px;
    color: #6C36D2;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: none;
}

.header {
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 30pt;
    color: white;
    align-items: center;
    margin-top: 30px;
}

.card-text {
    font-family: 'Nunito';
    font-size: 20px;
}

.card-body {
    padding: 20px;
}

.row {
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

.card-deck{
    margin-top: -45px;
}

.card.card-info.text-center{
    background-color: mediumpurple;
    box-shadow: none;
    padding: 0px;
}

.name {
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat';
    letter-spacing: 2px;
    padding: 15px;
    height: inherit;
    color: white;
}

.name h4 {
    padding-top: 20px;
    text-transform: uppercase;
    font-family: 'Montserrat';
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 12px;
    color: #ffbbfd;
}

th {
    padding-left: 20px;
    padding-right: 20px;
}

.btn {
    margin-left: 10px;
    margin-right: 10px;
}

.card-member {
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: white;
    position: relative;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 30px;
    box-shadow: 9px 3px 36px -9px rgba(0, 0, 0, 0.42);
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    margin: 50px;
    animation: ani 1.5s 1;
    width: 30%;
    font-size: 14pt;
}

.card-button a {
    margin-top: 30px;
    border-radius: 30px;
    width: 150px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 10pt;
    border: none;
    text-align: center;
    background-image: linear-gradient(135deg, #73A3F8, #63E4FE);
    letter-spacing: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    line-height: 30px;
    justify-content: center;
    margin-bottom: 15px;
    transition: all 0.3s ease-in-out;
    color: white;
    text-transform: uppercase;
    padding: 12px;
}

.card-button a:hover {
    opacity: 0.8;
    text-decoration: none;
}

.card-button a:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.card-prodi {
    margin-bottom: 20px;
}

.btn.btn-primary {
    border-radius: 30px;
    width: 150px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12pt;
    border: none;
    text-align: center;
    background-image: linear-gradient(135deg, #73A3F8, #63E4FE);
    letter-spacing: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    line-height: 30px;
    justify-content: center;
    margin-bottom: 15px;
    transition: all 0.3s ease-in-out;
}

.btn.btn-primary:hover {
    opacity: 0.8;
}


@keyframes ani {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.01;
    }

    100% {
        opacity: 1.0;
    }
}

@media screen and (max-width: 768px) {
    .navbar-light .navbar-nav .nav-link:hover {
        transform: scale(1);
        color: #6C36D2;
    }

    .navbar-light .navbar-nav .nav-link:focus {
        color: white;
    }

    .btn-primary2 {
        padding-left: 0 !important;
    }

    th {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .card{
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .card-body {
        padding-left: 0px;
        padding-right: 0px;
    }

    th {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .card{
        padding: 8px;
    }
}

@media screen and (max-width: 575px) {
    .card {
        width: 100%;
    }
    
    .card-body{
        padding: 30px;
    }
}

@media screen and (max-width: 349px) {
    .card-member {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 829px) {
    .card-member {
        width: auto;
    }
}
