@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-register::after {
    background-image: url(/../image/bg-login.png);
    content: " ";
    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;
    position: fixed;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar-brand {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.navbar-brand:hover {
    transform: scale(1.2);
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 13pt;
    font-family: 'Montserrat';
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.navbar-laravel {
    background-image: linear-gradient(130deg, #62E7FE, #7D7BF4);
}

.navbar-light .navbar-nav .nav-link:hover {
    transform: scale(1.2);
    color: #6C36D2;
}

.cards {
    border: none;
    border-radius: 30px;
    width: 100%;
    border-radius: 30px;
    margin-top: 3vh;
    animation: ani 1.5s 1;
    background-color: white;
    left: 50%;
    top: 50%;
}

.cards div {
    display: inline-block;
}

.card-body {
    width: 50%;
    text-align: center;
    padding-bottom: 0px;
    position: relative;
    bottom: 0px;
}

.card-body div {
    display: block;
}

.form-group div {
    display: block;
}

.judul-register {
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 25pt;
    color: white;
}

.text-md-center {
    padding-bottom: 15px;
    width: 100%;
}

.btn-primary {
    border-radius: 30px;
    width: 150px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12pt;
    border: none;
    background-image: linear-gradient(135deg, #73A3F8, #63E4FE);
    letter-spacing: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    line-height: 30px;
    justify-content: center;
    margin-bottom: 15px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    margin-top: 15px;
}

.btn-primary:hover {
    opacity: 0.8;
}

.form-goup.row {
    text-align: left;
}

.form-input {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.form-control {
    border-radius: 40px;
    border-color: grey;
}

.col-md-6 {
    text-align: center;
    margin-right: 0;
}

.col-md-8 {
    max-width: 100%;
}

.offset-md-4 {
    margin-left: 0;
}

.register-right {
    position: relative;
    text-align: center;
    width: 49.49%;
    padding: 20px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    background-image: linear-gradient(360deg, #73A3F8, #63E4FE);
    padding-bottom: 50px;
}

.register-right div {
    display: block;
}

.register-image img {
    margin-top: -5px;
    padding-bottom: 81px;
    padding-top: 81px;
}

@keyframes ani {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.01;
    }

    100% {
        opacity: 1.0;
    }
}

@media screen and (max-width: 1200px) {
    .register-right {
        width: 49.39%;
    }
}

@media screen and (max-width: 992px) {
    .register-right {
        width: 49.15%;
    }

    .register-image img {
        width: 180px;
        padding-bottom: 120px;
        padding-top: 120px;
    }
    
}

@media screen and (max-width: 768px) {
    .navbar-light .navbar-nav .nav-link:hover {
        transform: scale(1);
        color: #6C36D2;
    }

    .navbar-light .navbar-nav .nav-link:focus {
        color: white;
    }
}